body{
    background-image:url("dark_blue.jpg");
    background-size: cover;
}
#image{
    display: inline-block;
    height: 400px;
    width: 600px;
    margin-top:20px;
    box-shadow: 2px 2px 10px white,2px 2px 15px white,2px 2px 20px white;
}
.btn-group{
    display: inline-block;
    top:10px;
    left: 28%;
    
}
.col-4{
    color:white;
   
}
.form-check{
    margin-left: 0px;
}
.card{
    position: relative;
    margin: 10px 0 10px 0;
    right: 40px;
    box-shadow: 2px 2px 2px white,2px 2px 5px white,2px 2px 7px white,2px 2px 10px white;
}
.eyetracker{color:white;
    display: block;
    width: 50%;
    margin-left:150px;
    margin-top:20px;
}